#shalom{
    
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color:changeColor;
}
#shalom:hover{
       background-color: green
       
   }
#divLand{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

div{
    color:black;
}

#nameContainer{ 
    
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

#reminder{
    font-size: 18px;
       
}
.p:onclick{
    color:changeColor;
}

#empty{
    background-color:grey;
    color: Black
}

span{
    float: left;
    width:30px;
}